<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vumscs.meetingreservation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ManagerMeetingsViewItem"></activity>
        <activity android:name=".MeetingsView" />
        <activity android:name=".UserLogin" />
        <activity android:name=".MeetingsDetail" />
        <activity android:name=".SelectParticipants" />
        <activity android:name=".ParticipantsItem" />
        <activity android:name=".MeetingsItem" />
        <activity android:name=".ManagersRegistration" />
        <activity android:name=".UserRegistration" />
        <activity android:name=".ManagerLogin" />

        <meta-data android:name="com.google.android.actions" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>